html {
    font-family: sans-serif;
    background: #382f98;
}

.inbox {
    max-width: 400px;
    margin: 50px auto;
    background: #63b222;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgb(161, 138, 3);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    background: #b22222;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #000000;
}